@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

.rounded {
	border-radius: 8.3px;
}

.hidden {
	visibility: hidden;
}

.text-primary {
	color: white;
}

.page {
	width: 100vw;
	height: 100vh;

	background-image: url("../public/images/background.jpg");
	background-size: cover;

	position: relative;
}

.main {
	position: absolute;

	left: 50vw;
	top: 50vh;

	height: auto;

	transform: translate(-50%, -50%);
}
