@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

.rounded {
	border-radius: 8.3px;
}

.text-primary {
	color: white;
}
