.page {
	width: 100vw;
	height: 100vh;

	background-image: url("../public/images/background.jpg");
	background-size: cover;

	position: relative;
}

.main {
	position: absolute;

	left: 50vw;
	top: 50vh;

	height: auto;

	transform: translate(-50%, -50%);
}

.logoContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 220px;

	animation: pageload-logoContainer 2s ease 0ms;
}

.logo {
	width: 64px;
	height: 64px;
}

.logoText {
	font-family: "Roboto Mono", monospace;
	color: white;
}

.text {
	animation: pageload-text 2s ease 0ms;
}

@keyframes pageload-logoContainer {
	0% {
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes pageload-text {
	0% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	80% { /* 80% is 2s of 2.5s */
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
