@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@keyframes PageLoad {
	from { transform: translate(0px, -84px); }
	to { transform: translate(0px, 0px); }
}

.TopBar {
	width: 100%;
	padding: 20px;
	background-color: lightslategrey;
	animation: PageLoad 1s;
	display: flex;
	justify-content: space-between;
}

.Logo {
	display: flex;
	width: min-content;
	align-self: center;
}

.LogoImage {
	width: 64px;
}

.LogoText {
	margin-left: 10px;
	font-family: "Source Code Pro", monospace;
	font-size: 24px;
	line-height: 20px;
	display: inline;
}

.NavigationContainer {
	display: flex;
	width: min-content;
	align-self: center;
	justify-content: space-around;
}

.NavigationLink {
	font-family: "Roboto", sans-serif;
	flex-basis: 1cm;
}

.Divider {
	width: 20px;
}

/* Phone layout */
@media (max-width: 800px) {

}
