/* Animation stuff */
@keyframes pageload-header {
	from {
		transform: translateY(-100);
	}

	to {
		transform: translateY(0);
	}
}

header {
	display: block;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	background-color: blue;
	animation: pageload-header 1s;
}

main {

}

footer {
	
}
